.container {
  display: flex;
  height: 50px;
  margin: auto;
  width: 100%;
}

.box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.one {
  background-color: #FBD26A;
  display: flex;
  /* Altere a propriedade grow. */
  flex-grow: 1 ;
  list-style: none;
}

.two {
  background-color: #FAA488;
  display: flex;
  /* Altere a propriedade grow. */
  flex-grow: 1;
  list-style: none;
}

.three {
  background-color: #9069EF;
  display: flex;
  /* Altere a propriedade grow. */
  flex-grow: 1;
  list-style: none;
}

.four {
  background-color: #006472;
  display: flex;
  /* Altere a propriedade grow. */
  flex-grow: 1;
  list-style: none;
}
