/*  1 - Posicione o Mário acima do Goomba.
    2 - Posicione a tag p para que fique dentro do balão de fala.
    3 - Posicione o balão para que se torne uma fala de Bowser.*/

.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    top: 150px;
    left: 340px;
    z-index: 1;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 190px;
    left: 360px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    width: 15%;
    left: 600px;
    top: 260px;

  }