     body {
          font-size: 16px;
        }

        h1 {
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }
        .list {
            background-color: yellowgreen;
            font-style: italic;
            line-height: 2em;
            text-align: center;
            
        }

        p {
          font-weight: 600;
          font-size: 3em;
        }